@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, sans-serif;

  background-color: #e5e5e5;
}
ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
a {
  text-decoration: none;
}
input,
select {
  padding: 0;
  padding-right: 18px;
  padding-left: 18px;

  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}
input::-webkit-input-placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
input:-moz-placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
input::-moz-placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
input:-ms-input-placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
input::-ms-input-placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
input::placeholder {
  color: #a6a6a6;
  font-family: "Roboto", Arial, sans-serif;

  opacity: 1;
}
.login form,
.main-registration form {
  width: 600px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 63px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.login .form-name,
.main-registration .form-name {
  margin: 0;

  color: #444444;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
}
.login .form-name-sub,
.main-registration .form-name-sub {
  margin: 0;
  margin-bottom: 20px;

  color: #706f6f;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.main-registration {
  margin-top: 10px;
}
.main-registration .d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-registration select {
  display: block;
  width: 302px;
  height: 52px;
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  background-color: #f3f3f3;
}
.login ul,
.main-registration form > ul {
  padding-right: 50px;
  padding-left: 50px;
}
.login ul li:not(:last-child),
.main-registration form li:not(:last-child) {
  margin-bottom: 20px;
}
.login label,
.main-registration label {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
.login input,
.main-registration input {
  display: block;
  width: 100%;
  height: 52px;
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  font: inherit;

  background-color: #f3f3f3;
}
.login button,
.main-registration button {
  display: block;
  width: 275px;
  height: 62px;
  margin: auto;
  margin-top: 36px;
  padding: 0;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  color: #ffffff;
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  background-color: #3d66f7;
  cursor: pointer;
}
.main-registration button {
  font-size: 18px;
}
.login button:hover,
.main-registration button:hover {
  color: #dddddd;
}
.login-link {
  display: block;
  margin-top: 18px;

  color: #3d66f7;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
.login-link:hover {
  opacity: 0.6;
}